<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Detector Home</title>
</head>
<body>
    <div class = "headerBar">
        <form action="/toModel" method="get">
            <button id="ToModelBtn">About the model</button>
        </form>
        
    </div>
    <div class="heading">
        <h2>Binary Classifier for Forest Fire Images</h2>
    </div>
   
    <div class="homePageDivs" id="imgDisplayDiv">
        <p><b>Provided Link:</b> {{imgURL}}</p>
        <img src="{{ imgURL }}", alt="No Image Provided" height="250" width="400">
    </div>
    <div class="homePageDivs" id="imgInputDiv">
        <form action="/imageRecieved" method="get">
            <label for="imgUrlInput">Image URL:</label><br>
            <input type="text" id="imgUrlInput" name="imgUrlInput" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="homePageDivs" id="modelPrediction">
        <p><b>Prediction:</b> {{modelPrediction}}</p>
    </div>
</body>
</html>